<!-- This is a basic html page which Flask can serve. 
It does not use the power of Flask, but is easier to read than some of the other files. 
-->

<!DOCTYPE html>
<html>

<!-- learn more about what belongs in head and how it is used here 
https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML -->
<head>
	<title> CODE University</title>
	<meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <header class="color1">
    
    <div class="logo"> </div>

        <ul>
            <li> <a href ="index.html">Concept</li></a>
            <li> <a href= "second-page.html">Study Programms</li></a>
            <li> <a href="admission.html">Admissions </li></a>
        </ul>
    </header>

    <main>
    
        <!-- <div class="container">
            <h1 class="banner">Studying at Code</h1>
        </div> -->
    
        <div class="imageGroup">
            <div class="imagestyle">    
                <img src="../static/images/1.jpg">
            </div>
    
            <div class="container">
                <h2>Rethinking higher education</h2 >
                <p> Our new and intensive programs require a new educational concept.
                Or as we at CODE would say: This is how higher education always should be. </p>
            </div>
        </div>
    
        <div class="container section">
            <p class="section-item">With CODE, our founders wanted to create a completely new educational concept. 
            They wanted to move away from teacher-centered classrooms, from exams that demand rote knowledge 
            that will be immediately forgotten, and from grades that only reflect a small part of your actual 
            knowledge spectrum. Instead, they have developed a new learning concept: Curiosity-Driven Education 
            (which is also evident in our name “C<>DE”).</p>
            
            <p class="section-item">We decided that in order to learn how to be a productive member of an international and 
            interdisciplinary team, your learning environment should provide you with lots of opportunities to 
            work in teams. As for the development of problem-solving skills, you would be presented with real-life 
            problems to solve over and over again. Finally, to help you develop (or better rediscover) your eagerness 
            to learn, we created a learning environment where students’ main driver for learning would be their own curiosity.
            The knowledge transfer always takes place in the context of interdisciplinary projects, which are among other things, 
            developed with our partners and are intended to ensure a practical learning experience. Our professors do not wish 
            to solely impart their knowledge to you, but rather try to support and strengthen you on your individual learning path.</p>
        </div>

    </main>

</body>
</html>